root = true

[*]
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
charset = utf-8
max_line_length = 120
indent_size = 4
indent_style = space

# Keep it the same as value of "formatting.ImportOrdering.layout" in detekt.yml.
ij_kotlin_imports_layout = *

[{*.yaml,*.yml}]
indent_size = 2

[{*.xml,*.xsl}]
indent_size = 2
